.app {
  width: 100%;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(25, 3.9vw);
}

.cell {
  border: 1px solid black;
  width: 3.9vw;
  height: 3.9vw;            
}

@media(min-width: 600px){
  .app {
    width: 95%;
  }

  .grid-container {
    grid-template-columns: repeat(25, 1.5rem);
  }

  .cell {
    width: 1.5rem;
    height: 1.5rem;
  }
}

