body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* custom styles */
.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;  
  margin: 0 auto;  
}

.grid-container {
  margin-left: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(25, 3.7vw);
}

.cell {
  border: 1px solid black;
  width: 3.7vw;
  height: 3.7vw;            
}

h1 {
  padding: 0 5%;
}

.control-panel {
  padding: 0 5%;
}

.rules-container {
  padding: 0 5%;
  border-top: 1px dotted gray;
  margin: 5% 0;
}

button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #4caf50;
  border: 1px solid black;
  color: white;
  outline: none;
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

.reset {
  background-color: indianred;
  color: white;
  margin-left: 5px;
}

select {
  padding: 0.25rem 1.5rem 0.25rem 0;
  text-align: left;
}

@media(min-width: 600px){
  .app {
    width: 75%;    
  }

  .grid-container {
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(25, 3vw);
  }

  .cell {
    width: 3vw;
    height: 3vw;
  }
}

@media(min-width: 1024px){
  .app {
    flex-flow: row wrap;
    justify-content: space-between;
    width: 95%;
    max-width: 1130px; 
  }

  h1 {
    order: 0;
    width: 100%;
  }
  .grid-container {
    order: 1;
    width: 50%;
    grid-template-columns: repeat(25, 1.5rem);
  }

  .cell {
    width: 1.5rem;
    height: 1.5rem;
  }

  .control-panel {
    order: 2;
    width: 30%;
    padding: 0;
  }

  .rules-container {
    order: 3;
    width: 100%;
    padding: 0;
  }
}